#chat-container {
    max-width: 600px;
    margin: 30px auto;
    background-color:floralwhite;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    display: none;
}

#display {
    padding: 4px 4px;
    margin:  0 20px;
    min-height: 30px;
    border-bottom: 1px solid black;
}
#display p {
    margin: 5px 20px;
}

#name, #message {
    padding:  10px 20px;
    box-sizing: border-box;
    border: 0;
    background-color: #eee;
    display: block;
    width: 100%;
}

#btn-send {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

#join-container {
    max-width: 300px;
    margin: 30px auto;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}

#room {
    padding:  10px 20px;
    box-sizing: border-box;
    border: 0px;
    background-color: #eee;
    display:inline;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

#btn-join {
    background: #575ed8;
    color: #fff;
    font-size: 14px;
    border: 0;
    padding: 10px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}